{% extends 'base.html' %}

{% block cssstyle %}

{% endblock cssstyle %}
{% block body %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card at-3 shadow">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <h4>
                                    Change Password with Old Password
                                </h4>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="">Old Password</label>
                                {{form.old_password}}
                                {% if form.errors.old_password %}
                                    <label class="text-danger">{{form.errors.old_password}}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="">New Password</label>
                                {{form.new_password1 }}
                                {% if form.errors.new_password1 %}
                                    <label class="text-danger">{{form.errors.new_password1 }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="">Confirm New Password</label>
                                {{form.new_password2 }}
                                {% if form.errors.new_password2 %}
                                    <label class="text-danger">{{form.errors.new_password2 }}</label>
                                {% endif %}
                            </div>
                            
                            
                            
                            
                            <a class="btn float-end shadow btn-success px-4 my-2" href="{% url 'home' %}"> Profile</a>

                            <button type="submit" class="btn float-end shadow btn-success px-4 my-2" style="margin-right: 13px;">Change Password</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}